<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery UI Dialog - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <style>
  #dialog {
    display:none;
  }
  </style>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  function muestra() {
//  $(function() {
    $( "#dialog" ).dialog();
  }
  //);
  </script>
</head>
<body>
 
<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.<input type="button" onclick="alert('boton en display')" value="alert"></p>
</div>
<input type="button" onclick="muestra()" value="dialog">
 <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean justo urna, pharetra iaculis ornare sit amet, accumsan et lectus. Donec lobortis diam ac mauris tempor eu luctus elit accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc tempor posuere velit eu dictum. Curabitur adipiscing pulvinar pharetra. Pellentesque eros nulla, varius at sollicitudin sit amet, dignissim et tellus. Phasellus eu vulputate nisl. Nam at ligula vitae erat adipiscing hendrerit id a purus. Aenean tempus eros at enim suscipit non lacinia eros imperdiet. Integer ac risus risus, quis volutpat mauris. Nam condimentum est at felis fringilla ut iaculis est mollis.
</p>
<p>
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque fringilla volutpat nunc sed ultrices. Sed tempor porta laoreet. In ornare consectetur mauris in sollicitudin. Aliquam pellentesque, neque vel hendrerit molestie, lacus massa ullamcorper risus, eget volutpat turpis mauris eget purus. Praesent et massa justo, et euismod nulla. Aenean sagittis, urna a semper molestie, quam odio faucibus purus, eget ultricies neque nibh in mauris. Duis tristique tempor augue, et porttitor turpis ullamcorper sed. Curabitur semper est non sapien aliquet vehicula. Nam pellentesque dui a tortor cursus vel feugiat sapien convallis. Suspendisse sodales facilisis felis in porttitor.
</p>
<p>
Cras varius dolor sit amet arcu consequat interdum aliquam enim eleifend. Mauris risus magna, vehicula quis ullamcorper ut, ornare id lacus. Vestibulum vel lacus lectus, vel lacinia quam. Phasellus quis feugiat justo. Praesent vehicula facilisis augue sit amet porttitor. Nam fermentum convallis vestibulum. Integer eu viverra leo. Morbi dictum justo eget velit mollis nec rutrum risus facilisis. Duis at odio metus, nec euismod metus. Vestibulum ac vestibulum nisl. Nam a sem ut sem viverra pellentesque. Nullam semper, risus sed pellentesque tempor, nibh quam vestibulum erat, id auctor nulla magna sed turpis. Phasellus aliquam porttitor consequat. Vivamus erat est, adipiscing ut lobortis at, pretium quis lectus. Donec aliquam purus sit amet tellus mattis sed ullamcorper sapien cursus.
</p>

 
</body>
</html>