<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> - jsFiddle demo</title>
  
 
  
  <style type='text/css'>
     #overlay {
    visibility: hidden;
    position: absolute;
    top: 50px;
    width:100px;
    height:100px;
    text-align:center;
    z-index: 1000;
    margin-left: 5%;
    border: 2px blue solid;
    background-color: white;
 }
  </style>
  


<script type='text/javascript'>
 function overlay() {
    el = document.getElementById("overlay");
   el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
 }

</script>


</head>
<body>
  Content
<p>
<div id="overlay">
  <div>
      <p>Content you want the user to see goes here.</p>
  </div>
 </div>
    <P>
More content
        <button caption=" overlay dialog" onclick="overlay()">Overlay func</button>
  
</body>


</html>

